@{
    ViewData["Title"] = "Register";
}
<h1>登入</h1>
<script>
    function showalert() {
        alert("物品帳號或密碼錯誤，請重新輸入");
    }
</script>


@if (ViewBag.inputError != null)
{
    <script>window.onload = showalert();</script>
}




<form method="post" action="/Member/Login/">
    <div>
        <label for="id">帳號:</label>
        <br />
        <input type="text" name="_userID">
    </div>
    <div>
        <label for="name">密碼:</label>
        <br />
        <input type="password" name="_userPW">
    </div>
   
    <div>
        <input type="submit" value="確定" />
    </div>
</form>