@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>

<h2>林欣頤</h2>

<p>1998.5.26</p>

<p>0989-481-906</p>

<p>doto052687@gmail.com</p>

<h2>學歷</h2>
<p>國立台北科技大學 電資學士班</p>

<h2>工作經驗</h2>
<p>神坊資訊股份有限公司 2019.7-2020.7</p>
<p>實習</p>
<p>網頁開發、SQL、JAVA、JSP</p>

<h2>語言證照</h2>
<h3>英文</h3>
<p>TOEIC 785</p>
<h3>日文</h3>
<p> JLPT N1</p>

<h2>簡介</h2>
<p>
    畢業於國立台北科技大學電資學士班，在學期間主修讀資訊工程，主要修習C 以及 C++，在神坊資訊工作使用java 及 jsp，負責電商網頁開發及資 料庫的維護。
</p>