@{
    ViewData["Title"] = "ItemList";

    var list = ViewBag.List;
}
<h1>@ViewData["Title"]</h1>

<p>This page will show the item list from db.</p>

    @foreach (Item i in list)
    {
    <div>
        <h3>@i.name</h3>
        <li>價格:@i.price</li>
        <li>數量:@i.quantity</li>

    </div>
    }
 