@{
    ViewData["Title"] = "ItemList";

    var list = ViewBag.List;
}
<h1>@ViewData["Title"]</h1>

<p>This page will show the item list from db.</p>

    @foreach (Item i in list)
    {
        
            <h3>@Html.ActionLink(i.name,"Item",new{_id = i.id})</h3>
            <li>價格:@i.price</li>
            <li>數量:@i.quantity</li>
    @Html.ActionLink("刪除","deleteItem",new{_id = i.id})
        
    }
    <br />
    <div>
    @Html.ActionLink("新增物品","newItem")
    </div>
 